@import "../bower_components/normalize-scss/_normalize.scss";
@import "../bower_components/typeplate-starter-kit/css/_typeplate.scss";
@import "./mixins.scss";

/**
 * BOX-SIZING
 */

*, *:before, *:after {
    box-sizing: border-box;
}

/**
 * GRIDS
 */
p+p{
    text-indent: 0em;
}
.grid {
    width: 100%;
    display: block;
    font-size: 0;
    text-align: justify;
    position: relative;

    & > * {
        font-size: medium;
        text-align: left;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    &:after {
        display: inline-block;
        width: 100%;
        content: "";
        font-size: medium;
    }
}

@include gridify(2, 400);
@include gridify(4, 600);

/**
 * GENERAL
 */

img {
    max-width:90%;
    max-height:60%;
    transition: max-width .8s ease , max-height .8s ease;

}
.bannerBack{
    transition:opacity .8s ease;
    opacity:0
}

.bannerBack.bannerFull{
    transition:opacity .8s ease;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:.9;
}
.bannerFull {
    transition:max-width .8s ease , max-height .8s ease;
    display: inline-block;
    max-width:100%;
    max-height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}


img.loading{
    height:60%;
}

html , body {
    height:100%
}

.centerIt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// *:hover{border:1px solid red}
body {
    transition: opacity .25s ease;
        font-family:lucida Console , monospace ;
        overflow:hidden;
        background-color:#333;
        // text-align: center;
    p{
        background-color:#eee;
        // transition:all 1s ease;
        display:none;
        margin-bottom:100px;
        border:1px solid #fff;
        text-align:justify;
        width:40%;
        height:70%;
        border-radius: 10px;    
        text-align: center;
        overflow-y:hidden;
        margin-left:-200px;
        z-index:0;
        top:10%;
        transform:skewY(0deg);
        position: absolute;
        box-shadow: 2px 2px 2px #000;
        opacity:0;
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .02)));
    }
    p::before , p::after{
        transition:all .8s ease;
        content:' ';
        display:block;
        background-color:#ddd;
        width:100%;
        height:30px;
    }
    p::before{
        transition:all .8s ease;
        position:relative;
        top:0px;
    }
    p::after{
        transition:all .8s ease;
        position:absolute;
        bottom:0px;
    }
    .mask{
        display:inline-block;
        width:250px;
        height:50px;
        bottom:-100%;
        background-color:red;
    }
    p:nth-of-type(1){
        opacity:0;
    }

    p.right{
        display:inline-block;
        opacity:1;
        transition:all 1s ease;
        box-shadow: 4px 4px 6px #000;
        background-color:#eee;
        margin-left:-20%;
        margin-right:0px;
        z-index:-10;
        transform: rotateY(0deg) skewY(10deg);// translate(-50%, -50%);
        width:30%;
        height:60%;
    }
    p.left{
        display:inline-block;
        opacity:1;
        transition:all 1s ease;
        box-shadow: -4px -4px 6px #000;
        background-color:#eee;
        margin-left:-20%;
        margin-right:0px;
        z-index:-1;
        transform: rotateY(0deg) skewY(-10deg);// translate(-50%, -50%);
        width:30%;
        height:60%;
    }
    p.center{
        display:inline-block;
            left:35%;
        opacity:1;
        transition:all 1s ease;
        box-shadow: 0px 0px 6px #000;
        background-color:#fff;
        margin-left:-5% ;
        margin-right:15% ;
        transform: rotateY(0deg) skewY(0deg);// translate(-50%, -50%);
        z-index:1

    }
    p.center.showDescription{
        transition:all .4s ease;
        // margin-top:-500px;
        // margin-left:-200px ;
        // margin-right:200px ;
        // position:absolute;
        // display:inline-block;
        width:80% !important;
        height:110%;
        left:15% !important;
        top:-10%;
        box-shadow: 0px 0px 15px #000;
        // left:-100px;
        .content{
            display: block;
                height:85%;
            // height:90%;
            width:100%;
            // border:1px solid #333;
            overflow: auto;
        border-top:1px solid #333;
        border-bottom:1px solid #333;
        }
        .description{
            display:block
        }
        .thumbsLeft{
            transition:all .4s ease;
            position:absolute;
            diplay:inline-block;
            left:-500px;
        }
    }
    p.left::before , p.left::after , p.right::before , p.right::after{
        transition:all .8s ease;
        background-color:#aaa;
    }
        .thumb{
            transition:all .4s ease;
            position:relative;
            diplay:none;
            margin-left:20px;
            left:0;
        }

    .description{
        font-size: 14px;
        color:#666;
    }
    #quickView{
        // transition:all .4s ease;
        display:inline-block;
        position:absolute;
        // border:1px solid blue;
        width:100%;
        height:80%;
        left:0%;
        top:20%;
        z-index:0;
        // background-color:#fff

    }
    #search{
        display:inline-block;
        margin-left:40%;
    }
    #searchSubmit{
        visibility: hidden
    }
    #keywords{
        border-radius: 10px;
        text-decoration: none; 
        padding:3px;
        margin:3px;
    }
    #keywords:focus {
        outline-width: 0;
        background-color:#def;
        padding:8px;
        margin:8px;
        & ~ div{
            opacity:1
        }
    }
    #filters{
        transition:all .4s ease;
        position:relative;
        display:inline-block;
        top:20px;
        right:100%;
        opacity:0;
        background-color:#666;
        color:#fff;
        font-size:14px;
        padding:4px;
        border:1px solid #eee;
        // line-height: 14px;
        font-family: arial;
    }
    .message {
        display:none;
        opacity:.5;
        min-width:100%;
        text-align: center;
        border-top:2px solid #666;
        border-bottom:2px solid #666;
        background-color: #eee;
        position: absolute;
        top: 40%;
        left: 0px;
        transform: translateY(-50%);
    }
    .message.loading{

        display:inline-block;

    }
    .close{
        transition:all .4s ease;
        position:absolute;
        // top:3px;
        right:2%;
        z-index: 99;
        opacity:0;
        // margin-bottom: 20px;
        font-family: arial;
        color:red;
        background-color: #fdd;
    }

    .close.showDescription{

        opacity:1;
        width:30px;
        height:30px;
        // background-color:white;
        border:1px solid #944;
        text-align: center !important;
        box-shadow: 0px 0px 2px #000;

    }

    @media only screen and (max-width: 850px){

        p{
            width: 65%;
        }
        p.center{
            left:25%
        }
    }
    @media only screen and (max-width: 600px){

        p{
            width: 100%;
            height:100%;
        }
        p.center{
            left:5%
        }

        p.center.showDescription{
            width:100% !important;
            left:5% !important;
            height:120%;
            top:-15%;
            .content{
                height:93%;
            }
        }
        img {
            max-width:95%;
            max-height:30%;
            // transition: max-width .8s ease , max-height .8s ease;

        }
        .thumb , p.right , p.left {
    
            display:none !important

        }
        p::before , p::after{
            transition:all .8s ease;
            content:' ';
            display:block;
            background-color:#ddd;
            width:100%;
            height:10px;
        }

    }
    @media only screen and (max-width: 400px){

    
        p.center{
            top:0%;
            height:90%;
        }
    }
}









